In [7]:
import urllib
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

### Bramble Cove, TAS

In [44]:
url_tide_BrambleCove = 'http://www.bom.gov.au/australia/tides/print.php?aac=TAS_TP017&type=tide&date=19-11-2020&region=TAS&tz=Australia/Hobart&tz_js=AEDT&days=14'

In [45]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request(url_tide_BrambleCove, headers=hdr)

page = urlopen(req)
soup_tide_BrambleCove = BeautifulSoup(page, "lxml")
fout = open('tide_BrambleCove_temp.txt', 'wt', encoding='utf-8')
fout.write(str(soup_tide_BrambleCove)) # save to file
fout.close()

In [46]:
dates = [h3.text.replace('\n', '') for h3 in soup_tide_BrambleCove.find_all('h3')]
dates

['Thu 19 Nov',
 'Fri 20 Nov',
 'Sat 21 Nov',
 'Sun 22 Nov',
 'Mon 23 Nov',
 'Tue 24 Nov',
 'Wed 25 Nov',
 'Thu 26 Nov',
 'Fri 27 Nov',
 'Sat 28 Nov',
 'Sun 29 Nov',
 'Mon 30 Nov',
 'Tue 1 Dec',
 'Wed 2 Dec']

In [47]:
tables = soup_tide_BrambleCove.find_all('table')
ths = soup_tide_BrambleCove.find_all('th')
rows = list()
for tr in tables:
    rows.append([tr.text.replace('\n', ',').replace('\xa0', '') ] )
rows

[[',,,High,3:36 am,,,1.09 m,,,Low,9:33 am,,,0.61 m,,,High,12:40 pm,,,0.69 m,,,Low,8:30 pm,,,0.06 m,,,'],
 [',,,High,4:15 am,,,1.09 m,,,Low,10:15 am,,,0.59 m,,,High,1:03 pm,,,0.65 m,,,Low,9:06 pm,,,0.12 m,,,'],
 [',,,High,4:53 am,,,1.06 m,,,Low,9:37 pm,,,0.25 m,,,,,,,,,,,,,,,,,'],
 [',,,High,5:26 am,,,1.00 m,,,Low,8:18 pm,,,0.39 m,,,,,,,,,,,,,,,,,'],
 [',,,High,5:51 am,,,0.93 m,,,Low,3:46 pm,,,0.42 m,,,,,,,,,,,,,,,,,'],
 [',,,High,6:13 am,,,0.87 m,,,Low,3:57 pm,,,0.38 m,,,,,,,,,,,,,,,,,'],
 [',,,High,6:34 am,,,0.82 m,,,Low,2:07 pm,,,0.36 m,,,High,7:53 pm,,,0.54 m,,,Low,9:03 pm,,,0.53 m,,,'],
 [',,,High,6:59 am,,,0.77 m,,,Low,2:17 pm,,,0.33 m,,,High,8:22 pm,,,0.57 m,,,Low,9:59 pm,,,0.55 m,,,'],
 [',,,High,4:07 am,,,0.72 m,,,Low,2:35 pm,,,0.31 m,,,High,8:58 pm,,,0.60 m,,,Low,10:55 pm,,,0.57 m,,,'],
 [',,,High,4:22 am,,,0.65 m,,,Low,2:56 pm,,,0.29 m,,,High,9:58 pm,,,0.61 m,,,,,,,,,,'],
 [',,,Low,3:20 pm,,,0.28 m,,,,,,,,,,,,,,,,,,,,,,,,'],
 [',,,High,1:09 am,,,0.66 m,,,Low,3:55 pm,,,0.25 m,,,,,,,,,,,,,,,,,'],
 [',,,High,2:09 am,,,0.74 m,,,Low,5:15 pm,,,0.19 m,,,,,,,,,,,,,,,,,'],
 [',,,High,3:08 am,,,0.83 m,,,Low,6:33 pm,,,0.11 m,,,,,,,,,,,,,,,,,']]

In [48]:
data = np.column_stack((dates, rows))

In [49]:
df = pd.DataFrame(data=data, columns={'1',
                                      '2'})
print(df)

             1                                                  2
0   Thu 19 Nov  ,,,High,3:36 am,,,1.09 m,,,Low,9:33 am,,,0.61 ...
1   Fri 20 Nov  ,,,High,4:15 am,,,1.09 m,,,Low,10:15 am,,,0.59...
2   Sat 21 Nov  ,,,High,4:53 am,,,1.06 m,,,Low,9:37 pm,,,0.25 ...
3   Sun 22 Nov  ,,,High,5:26 am,,,1.00 m,,,Low,8:18 pm,,,0.39 ...
4   Mon 23 Nov  ,,,High,5:51 am,,,0.93 m,,,Low,3:46 pm,,,0.42 ...
5   Tue 24 Nov  ,,,High,6:13 am,,,0.87 m,,,Low,3:57 pm,,,0.38 ...
6   Wed 25 Nov  ,,,High,6:34 am,,,0.82 m,,,Low,2:07 pm,,,0.36 ...
7   Thu 26 Nov  ,,,High,6:59 am,,,0.77 m,,,Low,2:17 pm,,,0.33 ...
8   Fri 27 Nov  ,,,High,4:07 am,,,0.72 m,,,Low,2:35 pm,,,0.31 ...
9   Sat 28 Nov  ,,,High,4:22 am,,,0.65 m,,,Low,2:56 pm,,,0.29 ...
10  Sun 29 Nov    ,,,Low,3:20 pm,,,0.28 m,,,,,,,,,,,,,,,,,,,,,,,,
11  Mon 30 Nov  ,,,High,1:09 am,,,0.66 m,,,Low,3:55 pm,,,0.25 ...
12   Tue 1 Dec  ,,,High,2:09 am,,,0.74 m,,,Low,5:15 pm,,,0.19 ...
13   Wed 2 Dec  ,,,High,3:08 am,,,0.83 m,,,Low,6:33 pm,,,0.11 ...

In [50]:
df_2 = df['2'].str.split(',', expand = True)
df_2

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,,,,High,3:36 am,,,1.09 m,,,...,,,Low,8:30 pm,,,0.06 m,,,
1,,,,High,4:15 am,,,1.09 m,,,...,,,Low,9:06 pm,,,0.12 m,,,
2,,,,High,4:53 am,,,1.06 m,,,...,,,,,,,,,,
3,,,,High,5:26 am,,,1.00 m,,,...,,,,,,,,,,
4,,,,High,5:51 am,,,0.93 m,,,...,,,,,,,,,,
5,,,,High,6:13 am,,,0.87 m,,,...,,,,,,,,,,
6,,,,High,6:34 am,,,0.82 m,,,...,,,Low,9:03 pm,,,0.53 m,,,
7,,,,High,6:59 am,,,0.77 m,,,...,,,Low,9:59 pm,,,0.55 m,,,
8,,,,High,4:07 am,,,0.72 m,,,...,,,Low,10:55 pm,,,0.57 m,,,
9,,,,High,4:22 am,,,0.65 m,,,...,,,,,,,,,,
10,,,,Low,3:20 pm,,,0.28 m,,,...,,,,,,,,,,
11,,,,High,1:09 am,,,0.66 m,,,...,,,,,,,,,,
12,,,,High,2:09 am,,,0.74 m,,,...,,,,,,,,,,
13,,,,High,3:08 am,,,0.83 m,,,...,,,,,,,,,,

In [51]:
df_2 = df_2.drop(columns=[0,1,2,5,6,8,9,12,13,15,16,19,20,22,23,26,27,29,30,31])
df_2

,3,4,7,10,11,14,17,18,21,24,25,28
0,High,3:36 am,1.09 m,Low,9:33 am,0.61 m,High,12:40 pm,0.69 m,Low,8:30 pm,0.06 m
1,High,4:15 am,1.09 m,Low,10:15 am,0.59 m,High,1:03 pm,0.65 m,Low,9:06 pm,0.12 m
2,High,4:53 am,1.06 m,Low,9:37 pm,0.25 m,,,,,,
3,High,5:26 am,1.00 m,Low,8:18 pm,0.39 m,,,,,,
4,High,5:51 am,0.93 m,Low,3:46 pm,0.42 m,,,,,,
5,High,6:13 am,0.87 m,Low,3:57 pm,0.38 m,,,,,,
6,High,6:34 am,0.82 m,Low,2:07 pm,0.36 m,High,7:53 pm,0.54 m,Low,9:03 pm,0.53 m
7,High,6:59 am,0.77 m,Low,2:17 pm,0.33 m,High,8:22 pm,0.57 m,Low,9:59 pm,0.55 m
8,High,4:07 am,0.72 m,Low,2:35 pm,0.31 m,High,8:58 pm,0.60 m,Low,10:55 pm,0.57 m
9,High,4:22 am,0.65 m,Low,2:56 pm,0.29 m,High,9:58 pm,0.61 m,,,
10,Low,3:20 pm,0.28 m,,,,,,,,,
11,High,1:09 am,0.66 m,Low,3:55 pm,0.25 m,,,,,,
12,High,2:09 am,0.74 m,Low,5:15 pm,0.19 m,,,,,,
13,High,3:08 am,0.83 m,Low,6:33 pm,0.11 m,,,,,,

In [52]:
df_3 = pd.concat([df['1'] ,df_2], axis=1)
df_3

,1,3,4,7,10,11,14,17,18,21,24,25,28
0,Thu 19 Nov,High,3:36 am,1.09 m,Low,9:33 am,0.61 m,High,12:40 pm,0.69 m,Low,8:30 pm,0.06 m
1,Fri 20 Nov,High,4:15 am,1.09 m,Low,10:15 am,0.59 m,High,1:03 pm,0.65 m,Low,9:06 pm,0.12 m
2,Sat 21 Nov,High,4:53 am,1.06 m,Low,9:37 pm,0.25 m,,,,,,
3,Sun 22 Nov,High,5:26 am,1.00 m,Low,8:18 pm,0.39 m,,,,,,
4,Mon 23 Nov,High,5:51 am,0.93 m,Low,3:46 pm,0.42 m,,,,,,
5,Tue 24 Nov,High,6:13 am,0.87 m,Low,3:57 pm,0.38 m,,,,,,
6,Wed 25 Nov,High,6:34 am,0.82 m,Low,2:07 pm,0.36 m,High,7:53 pm,0.54 m,Low,9:03 pm,0.53 m
7,Thu 26 Nov,High,6:59 am,0.77 m,Low,2:17 pm,0.33 m,High,8:22 pm,0.57 m,Low,9:59 pm,0.55 m
8,Fri 27 Nov,High,4:07 am,0.72 m,Low,2:35 pm,0.31 m,High,8:58 pm,0.60 m,Low,10:55 pm,0.57 m
9,Sat 28 Nov,High,4:22 am,0.65 m,Low,2:56 pm,0.29 m,High,9:58 pm,0.61 m,,,
10,Sun 29 Nov,Low,3:20 pm,0.28 m,,,,,,,,,
11,Mon 30 Nov,High,1:09 am,0.66 m,Low,3:55 pm,0.25 m,,,,,,
12,Tue 1 Dec,High,2:09 am,0.74 m,Low,5:15 pm,0.19 m,,,,,,
13,Wed 2 Dec,High,3:08 am,0.83 m,Low,6:33 pm,0.11 m,,,,,,

In [53]:
df_3 = df_3.rename(columns={'1':'Date', 3: 'High_1', 4: 'High_Time_1', 7: 'High_Height_1',
                    10: 'Low_1', 11: 'Low_Time_1', 14: 'Low_Height_1',
                    17: 'High_2', 18: 'High_Time_2', 21: 'High_Height_2',
                    24: 'Low_2', 25: 'Low_Time_2', 28: 'Low_Height_2',})
df_3

,Date,High_1,High_Time_1,High_Height_1,Low_1,Low_Time_1,Low_Height_1,High_2,High_Time_2,High_Height_2,Low_2,Low_Time_2,Low_Height_2
0,Thu 19 Nov,High,3:36 am,1.09 m,Low,9:33 am,0.61 m,High,12:40 pm,0.69 m,Low,8:30 pm,0.06 m
1,Fri 20 Nov,High,4:15 am,1.09 m,Low,10:15 am,0.59 m,High,1:03 pm,0.65 m,Low,9:06 pm,0.12 m
2,Sat 21 Nov,High,4:53 am,1.06 m,Low,9:37 pm,0.25 m,,,,,,
3,Sun 22 Nov,High,5:26 am,1.00 m,Low,8:18 pm,0.39 m,,,,,,
4,Mon 23 Nov,High,5:51 am,0.93 m,Low,3:46 pm,0.42 m,,,,,,
5,Tue 24 Nov,High,6:13 am,0.87 m,Low,3:57 pm,0.38 m,,,,,,
6,Wed 25 Nov,High,6:34 am,0.82 m,Low,2:07 pm,0.36 m,High,7:53 pm,0.54 m,Low,9:03 pm,0.53 m
7,Thu 26 Nov,High,6:59 am,0.77 m,Low,2:17 pm,0.33 m,High,8:22 pm,0.57 m,Low,9:59 pm,0.55 m
8,Fri 27 Nov,High,4:07 am,0.72 m,Low,2:35 pm,0.31 m,High,8:58 pm,0.60 m,Low,10:55 pm,0.57 m
9,Sat 28 Nov,High,4:22 am,0.65 m,Low,2:56 pm,0.29 m,High,9:58 pm,0.61 m,,,
10,Sun 29 Nov,Low,3:20 pm,0.28 m,,,,,,,,,
11,Mon 30 Nov,High,1:09 am,0.66 m,Low,3:55 pm,0.25 m,,,,,,
12,Tue 1 Dec,High,2:09 am,0.74 m,Low,5:15 pm,0.19 m,,,,,,
13,Wed 2 Dec,High,3:08 am,0.83 m,Low,6:33 pm,0.11 m,,,,,,

In [54]:
df_3 = df_3.assign(Location='Bramble Cove, TAS', Long='146.00',Lat = '-43.19',State='SA')
df_3

,Date,High_1,High_Time_1,High_Height_1,Low_1,Low_Time_1,Low_Height_1,High_2,High_Time_2,High_Height_2,Low_2,Low_Time_2,Low_Height_2,Location,Long,Lat,State
0,Thu 19 Nov,High,3:36 am,1.09 m,Low,9:33 am,0.61 m,High,12:40 pm,0.69 m,Low,8:30 pm,0.06 m,"Bramble Cove, TAS",146.00,-43.19,SA
1,Fri 20 Nov,High,4:15 am,1.09 m,Low,10:15 am,0.59 m,High,1:03 pm,0.65 m,Low,9:06 pm,0.12 m,"Bramble Cove, TAS",146.00,-43.19,SA
2,Sat 21 Nov,High,4:53 am,1.06 m,Low,9:37 pm,0.25 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
3,Sun 22 Nov,High,5:26 am,1.00 m,Low,8:18 pm,0.39 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
4,Mon 23 Nov,High,5:51 am,0.93 m,Low,3:46 pm,0.42 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
5,Tue 24 Nov,High,6:13 am,0.87 m,Low,3:57 pm,0.38 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
6,Wed 25 Nov,High,6:34 am,0.82 m,Low,2:07 pm,0.36 m,High,7:53 pm,0.54 m,Low,9:03 pm,0.53 m,"Bramble Cove, TAS",146.00,-43.19,SA
7,Thu 26 Nov,High,6:59 am,0.77 m,Low,2:17 pm,0.33 m,High,8:22 pm,0.57 m,Low,9:59 pm,0.55 m,"Bramble Cove, TAS",146.00,-43.19,SA
8,Fri 27 Nov,High,4:07 am,0.72 m,Low,2:35 pm,0.31 m,High,8:58 pm,0.60 m,Low,10:55 pm,0.57 m,"Bramble Cove, TAS",146.00,-43.19,SA
9,Sat 28 Nov,High,4:22 am,0.65 m,Low,2:56 pm,0.29 m,High,9:58 pm,0.61 m,,,,"Bramble Cove, TAS",146.00,-43.19,SA
10,Sun 29 Nov,Low,3:20 pm,0.28 m,,,,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
11,Mon 30 Nov,High,1:09 am,0.66 m,Low,3:55 pm,0.25 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
12,Tue 1 Dec,High,2:09 am,0.74 m,Low,5:15 pm,0.19 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA
13,Wed 2 Dec,High,3:08 am,0.83 m,Low,6:33 pm,0.11 m,,,,,,,"Bramble Cove, TAS",146.00,-43.19,SA

In [ ]:
df_3.to_csv(r'./1119raw_bs4_tides.csv', index = False, mode='w', header=True)

In [56]:
# df.to_csv(r'./1119raw_bs4_tides.csv', index = False, header=True)

#### Apollo Bay, SA

In [57]:
url_tide_ApolloBay = 'http://www.bom.gov.au/australia/tides/print.php?aac=VIC_TP038&type=tide&date=17-11-2020&region=VIC&tz=Australia/Melbourne&tz_js=AEDT&days=14'

In [58]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request(url_tide_ApolloBay, headers=hdr)

page = urlopen(req)
soup_tide_ApolloBay = BeautifulSoup(page, "lxml")
fout = open('tide_ApolloBay_temp.txt', 'wt', encoding='utf-8')
fout.write(str(soup_tide_ApolloBay)) # save to file
fout.close()

In [59]:
dates = [h3.text.replace('\n', '') for h3 in soup_tide_ApolloBay.find_all('h3')]
dates

['Tue 17 Nov',
 'Wed 18 Nov',
 'Thu 19 Nov',
 'Fri 20 Nov',
 'Sat 21 Nov',
 'Sun 22 Nov',
 'Mon 23 Nov',
 'Tue 24 Nov',
 'Wed 25 Nov',
 'Thu 26 Nov',
 'Fri 27 Nov',
 'Sat 28 Nov',
 'Sun 29 Nov',
 'Mon 30 Nov']

In [60]:
tables = soup_tide_ApolloBay.find_all('table')
ths = soup_tide_ApolloBay.find_all('th')
rows = list()
for tr in tables:
    rows.append([tr.text.replace('\n', ',').replace('\xa0', '') ] )
rows

[[',,,High,1:47 am,,,2.22 m,,,Low,7:25 am,,,0.87 m,,,High,1:29 pm,,,1.73 m,,,Low,7:13 pm,,,0.20 m,,,'],
 [',,,High,2:33 am,,,2.27 m,,,Low,8:14 am,,,0.80 m,,,High,2:15 pm,,,1.70 m,,,Low,7:59 pm,,,0.13 m,,,'],
 [',,,High,3:17 am,,,2.23 m,,,Low,9:00 am,,,0.74 m,,,High,2:58 pm,,,1.66 m,,,Low,8:45 pm,,,0.11 m,,,'],
 [',,,High,4:00 am,,,2.15 m,,,Low,9:43 am,,,0.70 m,,,High,3:41 pm,,,1.60 m,,,Low,9:30 pm,,,0.15 m,,,'],
 [',,,High,4:42 am,,,2.04 m,,,Low,10:24 am,,,0.68 m,,,High,4:24 pm,,,1.54 m,,,Low,10:15 pm,,,0.25 m,,,'],
 [',,,High,5:24 am,,,1.92 m,,,Low,11:05 am,,,0.70 m,,,High,5:10 pm,,,1.49 m,,,Low,10:58 pm,,,0.40 m,,,'],
 [',,,High,6:07 am,,,1.82 m,,,Low,11:46 am,,,0.74 m,,,High,6:03 pm,,,1.45 m,,,Low,11:41 pm,,,0.59 m,,,'],
 [',,,High,6:52 am,,,1.75 m,,,Low,12:30 pm,,,0.82 m,,,High,7:11 pm,,,1.44 m,,,,,,,,,,'],
 [',,,Low,12:28 am,,,0.81 m,,,High,7:43 am,,,1.69 m,,,Low,1:22 pm,,,0.90 m,,,High,8:35 pm,,,1.49 m,,,'],
 [',,,Low,1:23 am,,,1.04 m,,,High,8:40 am,,,1.65 m,,,Low,2:27 pm,,,0.95 m,,,High,9:58 pm,,,1.59 m,,,'],
 [',,,Low,2:44 am,,,1.23 m,,,High,9:42 am,,,1.63 m,,,Low,3:40 pm,,,0.95 m,,,High,11:07 pm,,,1.74 m,,,'],
 [',,,Low,4:30 am,,,1.30 m,,,High,10:41 am,,,1.61 m,,,Low,4:42 pm,,,0.89 m,,,,,,,,,,'],
 [',,,High,12:03 am,,,1.88 m,,,Low,6:00 am,,,1.27 m,,,High,11:33 am,,,1.60 m,,,Low,5:28 pm,,,0.79 m,,,'],
 [',,,High,12:47 am,,,2.00 m,,,Low,6:57 am,,,1.19 m,,,High,12:18 pm,,,1.58 m,,,Low,6:05 pm,,,0.66 m,,,']]

In [61]:
data = np.column_stack((dates, rows))

In [62]:
df = pd.DataFrame(data=data, columns={'1',
                                      '2'})
print(df)

             1                                                  2
0   Tue 17 Nov  ,,,High,1:47 am,,,2.22 m,,,Low,7:25 am,,,0.87 ...
1   Wed 18 Nov  ,,,High,2:33 am,,,2.27 m,,,Low,8:14 am,,,0.80 ...
2   Thu 19 Nov  ,,,High,3:17 am,,,2.23 m,,,Low,9:00 am,,,0.74 ...
3   Fri 20 Nov  ,,,High,4:00 am,,,2.15 m,,,Low,9:43 am,,,0.70 ...
4   Sat 21 Nov  ,,,High,4:42 am,,,2.04 m,,,Low,10:24 am,,,0.68...
5   Sun 22 Nov  ,,,High,5:24 am,,,1.92 m,,,Low,11:05 am,,,0.70...
6   Mon 23 Nov  ,,,High,6:07 am,,,1.82 m,,,Low,11:46 am,,,0.74...
7   Tue 24 Nov  ,,,High,6:52 am,,,1.75 m,,,Low,12:30 pm,,,0.82...
8   Wed 25 Nov  ,,,Low,12:28 am,,,0.81 m,,,High,7:43 am,,,1.69...
9   Thu 26 Nov  ,,,Low,1:23 am,,,1.04 m,,,High,8:40 am,,,1.65 ...
10  Fri 27 Nov  ,,,Low,2:44 am,,,1.23 m,,,High,9:42 am,,,1.63 ...
11  Sat 28 Nov  ,,,Low,4:30 am,,,1.30 m,,,High,10:41 am,,,1.61...
12  Sun 29 Nov  ,,,High,12:03 am,,,1.88 m,,,Low,6:00 am,,,1.27...
13  Mon 30 Nov  ,,,High,12:47 am,,,2.00 m,,,Low,6:57 am,,,1.19...

In [63]:
df_2 = df['2'].str.split(',', expand = True)
df_2

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,,,,High,1:47 am,,,2.22 m,,,...,,,Low,7:13 pm,,,0.20 m,,,
1,,,,High,2:33 am,,,2.27 m,,,...,,,Low,7:59 pm,,,0.13 m,,,
2,,,,High,3:17 am,,,2.23 m,,,...,,,Low,8:45 pm,,,0.11 m,,,
3,,,,High,4:00 am,,,2.15 m,,,...,,,Low,9:30 pm,,,0.15 m,,,
4,,,,High,4:42 am,,,2.04 m,,,...,,,Low,10:15 pm,,,0.25 m,,,
5,,,,High,5:24 am,,,1.92 m,,,...,,,Low,10:58 pm,,,0.40 m,,,
6,,,,High,6:07 am,,,1.82 m,,,...,,,Low,11:41 pm,,,0.59 m,,,
7,,,,High,6:52 am,,,1.75 m,,,...,,,,,,,,,,
8,,,,Low,12:28 am,,,0.81 m,,,...,,,High,8:35 pm,,,1.49 m,,,
9,,,,Low,1:23 am,,,1.04 m,,,...,,,High,9:58 pm,,,1.59 m,,,
10,,,,Low,2:44 am,,,1.23 m,,,...,,,High,11:07 pm,,,1.74 m,,,
11,,,,Low,4:30 am,,,1.30 m,,,...,,,,,,,,,,
12,,,,High,12:03 am,,,1.88 m,,,...,,,Low,5:28 pm,,,0.79 m,,,
13,,,,High,12:47 am,,,2.00 m,,,...,,,Low,6:05 pm,,,0.66 m,,,

In [64]:
df_2 = df_2.drop(columns=[0,1,2,5,6,8,9,12,13,15,16,19,20,22,23,26,27,29,30,31])
df_2

,3,4,7,10,11,14,17,18,21,24,25,28
0,High,1:47 am,2.22 m,Low,7:25 am,0.87 m,High,1:29 pm,1.73 m,Low,7:13 pm,0.20 m
1,High,2:33 am,2.27 m,Low,8:14 am,0.80 m,High,2:15 pm,1.70 m,Low,7:59 pm,0.13 m
2,High,3:17 am,2.23 m,Low,9:00 am,0.74 m,High,2:58 pm,1.66 m,Low,8:45 pm,0.11 m
3,High,4:00 am,2.15 m,Low,9:43 am,0.70 m,High,3:41 pm,1.60 m,Low,9:30 pm,0.15 m
4,High,4:42 am,2.04 m,Low,10:24 am,0.68 m,High,4:24 pm,1.54 m,Low,10:15 pm,0.25 m
5,High,5:24 am,1.92 m,Low,11:05 am,0.70 m,High,5:10 pm,1.49 m,Low,10:58 pm,0.40 m
6,High,6:07 am,1.82 m,Low,11:46 am,0.74 m,High,6:03 pm,1.45 m,Low,11:41 pm,0.59 m
7,High,6:52 am,1.75 m,Low,12:30 pm,0.82 m,High,7:11 pm,1.44 m,,,
8,Low,12:28 am,0.81 m,High,7:43 am,1.69 m,Low,1:22 pm,0.90 m,High,8:35 pm,1.49 m
9,Low,1:23 am,1.04 m,High,8:40 am,1.65 m,Low,2:27 pm,0.95 m,High,9:58 pm,1.59 m
10,Low,2:44 am,1.23 m,High,9:42 am,1.63 m,Low,3:40 pm,0.95 m,High,11:07 pm,1.74 m
11,Low,4:30 am,1.30 m,High,10:41 am,1.61 m,Low,4:42 pm,0.89 m,,,
12,High,12:03 am,1.88 m,Low,6:00 am,1.27 m,High,11:33 am,1.60 m,Low,5:28 pm,0.79 m
13,High,12:47 am,2.00 m,Low,6:57 am,1.19 m,High,12:18 pm,1.58 m,Low,6:05 pm,0.66 m

In [65]:
df_3 = pd.concat([df['1'] ,df_2], axis=1)
df_3

,1,3,4,7,10,11,14,17,18,21,24,25,28
0,Tue 17 Nov,High,1:47 am,2.22 m,Low,7:25 am,0.87 m,High,1:29 pm,1.73 m,Low,7:13 pm,0.20 m
1,Wed 18 Nov,High,2:33 am,2.27 m,Low,8:14 am,0.80 m,High,2:15 pm,1.70 m,Low,7:59 pm,0.13 m
2,Thu 19 Nov,High,3:17 am,2.23 m,Low,9:00 am,0.74 m,High,2:58 pm,1.66 m,Low,8:45 pm,0.11 m
3,Fri 20 Nov,High,4:00 am,2.15 m,Low,9:43 am,0.70 m,High,3:41 pm,1.60 m,Low,9:30 pm,0.15 m
4,Sat 21 Nov,High,4:42 am,2.04 m,Low,10:24 am,0.68 m,High,4:24 pm,1.54 m,Low,10:15 pm,0.25 m
5,Sun 22 Nov,High,5:24 am,1.92 m,Low,11:05 am,0.70 m,High,5:10 pm,1.49 m,Low,10:58 pm,0.40 m
6,Mon 23 Nov,High,6:07 am,1.82 m,Low,11:46 am,0.74 m,High,6:03 pm,1.45 m,Low,11:41 pm,0.59 m
7,Tue 24 Nov,High,6:52 am,1.75 m,Low,12:30 pm,0.82 m,High,7:11 pm,1.44 m,,,
8,Wed 25 Nov,Low,12:28 am,0.81 m,High,7:43 am,1.69 m,Low,1:22 pm,0.90 m,High,8:35 pm,1.49 m
9,Thu 26 Nov,Low,1:23 am,1.04 m,High,8:40 am,1.65 m,Low,2:27 pm,0.95 m,High,9:58 pm,1.59 m
10,Fri 27 Nov,Low,2:44 am,1.23 m,High,9:42 am,1.63 m,Low,3:40 pm,0.95 m,High,11:07 pm,1.74 m
11,Sat 28 Nov,Low,4:30 am,1.30 m,High,10:41 am,1.61 m,Low,4:42 pm,0.89 m,,,
12,Sun 29 Nov,High,12:03 am,1.88 m,Low,6:00 am,1.27 m,High,11:33 am,1.60 m,Low,5:28 pm,0.79 m
13,Mon 30 Nov,High,12:47 am,2.00 m,Low,6:57 am,1.19 m,High,12:18 pm,1.58 m,Low,6:05 pm,0.66 m

In [66]:
df_3 = df_3.rename(columns={'1':'Date', 3: 'High_1', 4: 'High_Time_1', 7: 'High_Height_1',
                    10: 'Low_1', 11: 'Low_Time_1', 14: 'Low_Height_1',
                    17: 'High_2', 18: 'High_Time_2', 21: 'High_Height_2',
                    24: 'Low_2', 25: 'Low_Time_2', 28: 'Low_Height_2',})
df_3

,Date,High_1,High_Time_1,High_Height_1,Low_1,Low_Time_1,Low_Height_1,High_2,High_Time_2,High_Height_2,Low_2,Low_Time_2,Low_Height_2
0,Tue 17 Nov,High,1:47 am,2.22 m,Low,7:25 am,0.87 m,High,1:29 pm,1.73 m,Low,7:13 pm,0.20 m
1,Wed 18 Nov,High,2:33 am,2.27 m,Low,8:14 am,0.80 m,High,2:15 pm,1.70 m,Low,7:59 pm,0.13 m
2,Thu 19 Nov,High,3:17 am,2.23 m,Low,9:00 am,0.74 m,High,2:58 pm,1.66 m,Low,8:45 pm,0.11 m
3,Fri 20 Nov,High,4:00 am,2.15 m,Low,9:43 am,0.70 m,High,3:41 pm,1.60 m,Low,9:30 pm,0.15 m
4,Sat 21 Nov,High,4:42 am,2.04 m,Low,10:24 am,0.68 m,High,4:24 pm,1.54 m,Low,10:15 pm,0.25 m
5,Sun 22 Nov,High,5:24 am,1.92 m,Low,11:05 am,0.70 m,High,5:10 pm,1.49 m,Low,10:58 pm,0.40 m
6,Mon 23 Nov,High,6:07 am,1.82 m,Low,11:46 am,0.74 m,High,6:03 pm,1.45 m,Low,11:41 pm,0.59 m
7,Tue 24 Nov,High,6:52 am,1.75 m,Low,12:30 pm,0.82 m,High,7:11 pm,1.44 m,,,
8,Wed 25 Nov,Low,12:28 am,0.81 m,High,7:43 am,1.69 m,Low,1:22 pm,0.90 m,High,8:35 pm,1.49 m
9,Thu 26 Nov,Low,1:23 am,1.04 m,High,8:40 am,1.65 m,Low,2:27 pm,0.95 m,High,9:58 pm,1.59 m
10,Fri 27 Nov,Low,2:44 am,1.23 m,High,9:42 am,1.63 m,Low,3:40 pm,0.95 m,High,11:07 pm,1.74 m
11,Sat 28 Nov,Low,4:30 am,1.30 m,High,10:41 am,1.61 m,Low,4:42 pm,0.89 m,,,
12,Sun 29 Nov,High,12:03 am,1.88 m,Low,6:00 am,1.27 m,High,11:33 am,1.60 m,Low,5:28 pm,0.79 m
13,Mon 30 Nov,High,12:47 am,2.00 m,Low,6:57 am,1.19 m,High,12:18 pm,1.58 m,Low,6:05 pm,0.66 m

In [67]:
df_3 = df_3.assign(Location='Apollo Bay, VIC', Long='143.40',Lat = '-38.45', State='SA')
df_3

,Date,High_1,High_Time_1,High_Height_1,Low_1,Low_Time_1,Low_Height_1,High_2,High_Time_2,High_Height_2,Low_2,Low_Time_2,Low_Height_2,Location,Long,Lat,State
0,Tue 17 Nov,High,1:47 am,2.22 m,Low,7:25 am,0.87 m,High,1:29 pm,1.73 m,Low,7:13 pm,0.20 m,"Apollo Bay, VIC",143.40,-38.45,SA
1,Wed 18 Nov,High,2:33 am,2.27 m,Low,8:14 am,0.80 m,High,2:15 pm,1.70 m,Low,7:59 pm,0.13 m,"Apollo Bay, VIC",143.40,-38.45,SA
2,Thu 19 Nov,High,3:17 am,2.23 m,Low,9:00 am,0.74 m,High,2:58 pm,1.66 m,Low,8:45 pm,0.11 m,"Apollo Bay, VIC",143.40,-38.45,SA
3,Fri 20 Nov,High,4:00 am,2.15 m,Low,9:43 am,0.70 m,High,3:41 pm,1.60 m,Low,9:30 pm,0.15 m,"Apollo Bay, VIC",143.40,-38.45,SA
4,Sat 21 Nov,High,4:42 am,2.04 m,Low,10:24 am,0.68 m,High,4:24 pm,1.54 m,Low,10:15 pm,0.25 m,"Apollo Bay, VIC",143.40,-38.45,SA
5,Sun 22 Nov,High,5:24 am,1.92 m,Low,11:05 am,0.70 m,High,5:10 pm,1.49 m,Low,10:58 pm,0.40 m,"Apollo Bay, VIC",143.40,-38.45,SA
6,Mon 23 Nov,High,6:07 am,1.82 m,Low,11:46 am,0.74 m,High,6:03 pm,1.45 m,Low,11:41 pm,0.59 m,"Apollo Bay, VIC",143.40,-38.45,SA
7,Tue 24 Nov,High,6:52 am,1.75 m,Low,12:30 pm,0.82 m,High,7:11 pm,1.44 m,,,,"Apollo Bay, VIC",143.40,-38.45,SA
8,Wed 25 Nov,Low,12:28 am,0.81 m,High,7:43 am,1.69 m,Low,1:22 pm,0.90 m,High,8:35 pm,1.49 m,"Apollo Bay, VIC",143.40,-38.45,SA
9,Thu 26 Nov,Low,1:23 am,1.04 m,High,8:40 am,1.65 m,Low,2:27 pm,0.95 m,High,9:58 pm,1.59 m,"Apollo Bay, VIC",143.40,-38.45,SA
10,Fri 27 Nov,Low,2:44 am,1.23 m,High,9:42 am,1.63 m,Low,3:40 pm,0.95 m,High,11:07 pm,1.74 m,"Apollo Bay, VIC",143.40,-38.45,SA
11,Sat 28 Nov,Low,4:30 am,1.30 m,High,10:41 am,1.61 m,Low,4:42 pm,0.89 m,,,,"Apollo Bay, VIC",143.40,-38.45,SA
12,Sun 29 Nov,High,12:03 am,1.88 m,Low,6:00 am,1.27 m,High,11:33 am,1.60 m,Low,5:28 pm,0.79 m,"Apollo Bay, VIC",143.40,-38.45,SA
13,Mon 30 Nov,High,12:47 am,2.00 m,Low,6:57 am,1.19 m,High,12:18 pm,1.58 m,Low,6:05 pm,0.66 m,"Apollo Bay, VIC",143.40,-38.45,SA

In [68]:
df_3.to_csv(r'./1119raw_bs4_tides.csv', index = False, mode='a', header=False)